/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #F0F8FF;
}

/* Header */
header {
  background-color: #00BFFF;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding:0;
}

/* Main */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-container label {
  margin-right: 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 70%;
}

.search-container button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #00BFFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-container button:hover {
  background-color: #0085c7;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#icon {
  width: 175px;
  height: 140px;
  border-style: none;
  vertical-align: middle;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.forecast-container h2 {
  width: 100%;
  margin-bottom: 10px;
}

.forecast {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forecast p {
  margin: 5px 0;
}

.forecast img {
  max-width: 50px;
}

.history-container {
  margin-top: 50px;
}

.history-container h2 {
  margin-bottom: 10px;
}

#previously-searched {
  display: flex;
  flex-wrap: wrap;
}

/* Set custom shades of blue for the app */
:root {
  --primary-color: #005baa;
  --secondary-color: #0085c7;
  --tertiary-color: #00a9e0;
  --quaternary-color: #00c5f3;
  --lightblue-color: #ADD8E6;
  --darkblue-color: #000080;
}

/* Style the search container */
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}


label {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-right: 1rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
 
}
/* Use flexbox to create a responsive row layout for forecast cards */
@media (min-width: 768px) {
  .forecast-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .forecast {
    width: 200px;
  }
}




/* col-sm */
@media screen and (min-width: 640px) {

  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .justify-space-between-sm {
    justify-content: space-between;
  }

  .justify-space-around-sm {
    justify-content: space-around;
  }

  .justify-flex-start-sm {
    justify-content: flex-start;
  }

  .justify-flex-end-sm {
    justify-content: flex-end;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .align-start-sm {
    align-items: flex-start;
  }

  .align-stretch-sm {
    align-items: stretch;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .align-center-sm {
    align-items: center;
  }

  .align-content-start-sm {
    align-content: flex-start;
  }

  .align-content-stretch-sm {
    align-content: stretch;
  }

  .align-content-end-sm {
    align-content: flex-end;
  }

  .align-content-center-sm {
    align-content: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .justify-space-between-md {
    justify-content: space-between;
  }

  .justify-space-around-md {
    justify-content: space-around;
  }

  .justify-flex-start-md {
    justify-content: flex-start;
  }

  .justify-flex-end-md {
    justify-content: flex-end;
  }

  .justify-center-md {
    justify-content: center;
  }

  .align-start-md {
    align-items: flex-start;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .align-center-md {
    align-items: center;
  }

  .align-content-start-md {
    align-content: flex-start;
  }

  .align-content-stretch-md {
    align-content: stretch;
  }

  .align-content-end-md {
    align-content: flex-end;
  }

  .align-content-center-md {
    align-content: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {

  
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .justify-space-between-lg {
    justify-content: space-between;
  }

  .justify-space-around-lg {
    justify-content: space-around;
  }

  .justify-flex-start-lg {
    justify-content: flex-start;
  }

  .justify-flex-end-lg {
    justify-content: flex-end;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .align-start-lg {
    align-items: flex-start;
  }

  .align-stretch-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .align-center-lg {
    align-items: center;
  }

  .align-content-start-lg {
    align-content: flex-start;
  }

  .align-content-stretch-lg {
    align-content: stretch;
  }

  .align-content-end-lg {
    align-content: flex-end;
  }

  .align-content-center-lg {
    align-content: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .col-xl-11 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .justify-space-between-xl {
    justify-content: space-between;
  }

  .justify-space-around-xl {
    justify-content: space-around;
  }

  .justify-flex-start-xl {
    justify-content: flex-start;
  }

  .justify-flex-end-xl {
    justify-content: flex-end;
  }

  .justify-center-xl {
    justify-content: center;
  }

  .align-start-xl {
    align-items: flex-start;
  }

  .align-stretch-xl {
    align-items: stretch;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .align-center-xl {
    align-items: center;
  }

  .align-content-start-xl {
    align-content: flex-start;
  }

  .align-content-stretch-xl {
    align-content: stretch;
  }

  .align-content-end-xl {
    align-content: flex-end;
  }

  .align-content-center-xl {
    align-content: center;
  }
}